<ion-view view-title="Alarms">
    <ion-content class="padding">
        <div class="row">
            <div class="col clock-row">
                <svg viewbox="0 0 100 100" width="100%" height="100%">
                    <ellipse rx="50" ry="50" cx="50" cy="50" fill="#ecf0f1"></ellipse>

                    <rect ng-repeat="marker in hourMarkers" width="3" height="10" x="48.5" y="1" fill="#2c3e50" transform="rotate({{marker * 30}} 50 50)"></rect>
                    <rect ng-repeat="marker in minuteMarkers" ng-if="(marker % 5) != 0" width="1.2" height="3.6" x="49.4" y="1" fill="#2c3e50" transform="rotate({{marker * 6}} 50 50)"></rect>

                    <rect id="hours" width="5" height="45" x="47.5" y="15" fill="#3498db" transform="rotate({{getHours()}} 50 50)"></rect>
                    <rect id="minutes" width="4" height="54" x="48" y="4" fill="#2980b9" transform="rotate({{getMinutes()}} 50 50)"></rect>
                    <rect id="seconds" width="1.5" height="50" x="-0.75" y="-37.5" fill="{{color}}" transform="rotate({{getSeconds()}} 50 50) translate(50 50)"></rect>
                </svg>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <ul class="list">

                    <li class="item item-toggle">
                        7:00 AM
                        <label class="toggle toggle-balanced">
                            <input type="checkbox">
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </li>

                    <li class="item item-toggle">
                        7:30 AM
                        <label class="toggle toggle-balanced">
                            <input type="checkbox">
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </li>
                    <li class="item item-toggle">
                        8:00 AM
                        <label class="toggle toggle-balanced">
                            <input type="checkbox">
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </li>

                </ul>
            </div>
        </div>
    </ion-content>
</ion-view>
